# Dependencies
node_modules/

# Environment files
.env
.env.*

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# Build/cache
dist/
build/
.cache/

#Terraform 
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars
terraform/crash.log
